.deco-collapse-positioner {
  position: relative;
}

.deco-collapse {
  display: flex;
  position: absolute;
}

.deco-collapse-child {
  height: 1.25rem;
  width: 1.25rem;
  fill: currentcolor;
  align-self: center;
  cursor: pointer;
}
