.B-editorbar_wrapper {
  color: var(--BV-ui-bangle-button-color);
}

.B-editorbar_ws-path {
  color: var(--BV-ui-bangle-button-color);
  justify-content: center;
  display: flex;
  align-items: center;
}

.B-editorbar_ws-path.BU_active {
  background-color: var(--BV-base-300);
}
