.options-bar-content {
  background-color: var(--window-bgColor-0);
  border-radius: 999px;
  width: unset;
  display: flex;
}

.options-bar-content > button:hover {
  background-color: var(--window-bgColor-1);
}

.options-bar-content > button.active {
  background-color: var(--window-bgColor-1);
}

.options-bar-content > button {
  border-radius: 999px;
  padding: 9px;
}

.options-bar-content svg {
  height: 24px;
  width: 24px;
}
