tsconfig.tsbuildinfo

node_modules
.npm
.pnp.*

tsconfig.tsbuildinfo

node_modules
.netlify
coverage-summary.json
tsconfig.tsbuildinfo


# playwright
playwright-report
playwright/.cache/

coverage

node_modules/
/test-results/
/playwright-report/
/playwright/.cache/

/dist/
packages/tooling/browser-entry/dist
*storybook.log
/blob-report/

packages/tooling/e2e-tests/test-results
packages/tooling/e2e-tests/playwright/.cache
packages/tooling/e2e-tests/playwright/playwright-report

# Environment variables
.env
.env.*

.aider*

# Sentry Config File
.env.sentry-build-plugin
