<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <%- favicon %>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#ffffff"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#000000"
    />
    <meta
      name="viewport"
      content="width=device-width,minimum-scale=1,user-scalable=no"
    />
    <%- sentry %>
    <!--  -->

    <%- cssVars %>
    <style>
      :root {
        background-color: var(--window-bg-color-0);
      }
    </style>
    <title>Bangle App</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <div id="tooltip-container" style="position: fixed; z-index: 1500"></div>
    <div id="modal-container" style="position: fixed; z-index: 1000"></div>
    <%- viteJsEntry %>
    <!--  -->
    <%- fathom %>
  </body>
</html>
