/** TooltipHints */

button[aria-label][data-bangle-editor-pos] {
  overflow: visible;
}

[aria-label][data-bangle-editor-pos] {
  position: relative;
  cursor: pointer;
}
[aria-label][data-bangle-editor-pos]:after {
  opacity: 0;
  pointer-events: none;
  /* TODO need to move off of bangle variables */
  /* transition: all 0.1s ease-in-out 0.1s; */
  text-indent: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
  font-size: var(--bangle-balloon-font-size);
  background: var(--bangle-floating-menu-bg-color);
  border-radius: 2px;
  color: var(--bangle-floating-menu-text-color);
  border-radius: var(--bangle-balloon-border-radius);
  content: attr(aria-label);
  padding: 0.2rem 0.5rem;
  position: absolute;
  white-space: nowrap;
  z-index: 10;
}
[aria-label][data-bangle-editor-pos]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: var(--bangle-floating-menu-bg-color);
  opacity: 0;
  pointer-events: none;
  /* transition: all 0.1s ease-in-out 0.1s; */
  content: '';
  position: absolute;
  z-index: 10;
}
[aria-label][data-bangle-editor-pos]:hover:before,
[aria-label][data-bangle-editor-pos]:hover:after,
[aria-label][data-bangle-editor-pos][data-bangle-editor-visible]:before,
[aria-label][data-bangle-editor-pos][data-bangle-editor-visible]:after,
[aria-label][data-bangle-editor-pos]:not([data-bangle-editor-nofocus]):focus:before,
[aria-label][data-bangle-editor-pos]:not([data-bangle-editor-nofocus]):focus:after {
  opacity: 1;
  pointer-events: none;
}
[aria-label][data-bangle-editor-pos][data-bangle-editor-break]:after {
  white-space: pre;
}
[aria-label][data-bangle-editor-pos][data-bangle-editor-break][data-bangle-editor-length]:after {
  white-space: pre-line;
  word-break: break-word;
}
[aria-label][data-bangle-editor-pos][data-bangle-editor-blunt]:before,
[aria-label][data-bangle-editor-pos][data-bangle-editor-blunt]:after {
  transition: none;
}
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos='top']:hover:after,
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos='top'][data-bangle-editor-visible]:after,
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos='bottom']:hover:after,
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos='bottom'][data-bangle-editor-visible]:after {
  transform: translate(-50%, 0);
}
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos='top']:hover:before,
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos='top'][data-bangle-editor-visible]:before,
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos='bottom']:hover:before,
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos='bottom'][data-bangle-editor-visible]:before {
  transform: translate(-50%, 0);
}
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos*='-left']:after {
  left: 0;
}
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos*='-left']:before {
  left: 5px;
}
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos*='-right']:after {
  right: 0;
}
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos*='-right']:before {
  right: 5px;
}
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos*='-left']:hover:after,
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos*='-left'][data-bangle-editor-visible]:after,
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos*='-right']:hover:after,
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos*='-right'][data-bangle-editor-visible]:after {
  transform: translate(0, 0);
}
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos*='-left']:hover:before,
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos*='-left'][data-bangle-editor-visible]:before,
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos*='-right']:hover:before,
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos*='-right'][data-bangle-editor-visible]:before {
  transform: translate(0, 0);
}
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos^='top']:before,
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos^='top']:after {
  bottom: 100%;
  transform-origin: top;
  transform: translate(0, var(--bangle-editor-move));
}
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos^='top']:after {
  margin-bottom: 10px;
}
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos='top']:before,
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos='top']:after {
  left: 50%;
  transform: translate(-50%, var(--bangle-editor-move));
}
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos^='bottom']:before,
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos^='bottom']:after {
  top: 100%;
  transform: translate(0, calc(var(--bangle-editor-move) * -1));
}
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos^='bottom']:after {
  margin-top: 10px;
}
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos^='bottom']:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: var(--bangle-floating-menu-bg-color);
}
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos='bottom']:after,
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos='bottom']:before {
  left: 50%;
  transform: translate(-50%, calc(var(--bangle-editor-move) * -1));
}
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos='left']:hover:after,
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos='right']:hover:after {
  transform: translate(0, -50%);
}

[aria-label][data-bangle-editor-pos][data-bangle-editor-pos='left']:hover:before,
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos='right']:hover:before {
  transform: translate(0, -50%);
}

[aria-label][data-bangle-editor-pos][data-bangle-editor-pos='left']:after,
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos='left']:before {
  right: 100%;
  top: 50%;
  transform: translate(var(--bangle-editor-move), -50%);
}

[aria-label][data-bangle-editor-pos][data-bangle-editor-pos='left']:after {
  margin-right: 10px;
}

[aria-label][data-bangle-editor-pos][data-bangle-editor-pos='left']:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: var(--bangle-floating-menu-bg-color);
}

[aria-label][data-bangle-editor-pos][data-bangle-editor-pos='right']:after,
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos='right']:before {
  left: 100%;
  top: 50%;
  transform: translate(calc(var(--bangle-editor-move) * -1), -50%);
}
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos='right']:after {
  margin-left: 10px;
}
[aria-label][data-bangle-editor-pos][data-bangle-editor-pos='right']:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-color: var(--bangle-floating-menu-bg-color);
}
/** TooltipHints End*/
