/* 
---------------------------
The role of this file is to keep to 
only the styles of the skeleton. 

DONOT keep internal styles here.
---------------------------

*/
#root {
  color: var(--font-color);
  display: flex;
  flex-direction: column;
}
#root.widescreen {
  flex-flow: row nowrap;
}

/* the left most vertically  bar*/
#activity-bar-area {
  height: var(--activity-bar-width);
  min-width: 100vw;
  max-width: 100vw;
  background-color: var(--activity-bar-color);
  z-index: 300;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#activity-bar-area.widescreen {
  height: 100vh;
  min-width: var(--activity-bar-width);
  max-width: var(--activity-bar-width);
  position: static;
  padding-top: 0.5rem;
}

/* The position of the menu when not hidden (and default) */
#activity-bar-area.up {
  /* How long to get back up */
  transition-timing-function: ease;
  transition: transform 0.25s;
  transform: translate(0, 0);
}

#activity-bar-area.down {
  /* How long to scroll down */
  transition-timing-function: ease;
  transition: transform 0.6s;
  transform: translate(0, 8.2rem);
}

.main-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.main-content.widescreen {
  height: 100vh;
  overflow-y: scroll;
}

.bangle-editor-area {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.options-bar-area {
  z-index: 100;
  padding: 1rem 1rem 0 0;
  position: fixed;
  top: 0;
  right: 2.85rem;
}

.main-content.has-secondary-editor > .options-bar-area {
  grid-row-start: row-first;
  grid-row-end: row-second;
  grid-column-start: col-first;
  grid-column-end: col-second;
  position: static;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.bangle-editor-container {
  padding: 0 var(--editor-x-axis-padding);
  padding-top: var(--editor-top-padding);
  padding-bottom: var(--editor-bottom-padding);
  max-width: min(var(--editor-max-width), 100vw);
  width: 100%;
}

/* The relative position is super important for absolutely positioned div inside
  or else it will cause weird scrolling issues.
*/
.bangle-editor-inner-container {
  position: relative;
}

.main-content.has-secondary-editor {
  display: grid;
  height: 100vh;
  grid-template-columns: [col-first] 1.2fr [col-second] var(--gutter-width) [col-third] 0.8fr [col-fourth];
  grid-template-rows: [row-first] 50px [row-second] 1fr [row-third];
}

.main-content.has-secondary-editor > .grid-gutter {
  grid-row-start: row-first;
  grid-row-end: row-third;
  grid-column-start: col-second;
  grid-column-end: col-third;
}

.main-content.has-secondary-editor > .bangle-editor-area.primary-editor {
  grid-column-start: col-first;
  grid-column-end: col-second;
  grid-row-start: row-first;
  grid-row-end: row-third;
}

/* 2nd child is gutter */
.main-content.has-secondary-editor > .bangle-editor-area.secondary-editor {
  grid-column-start: col-third;
  grid-column-end: col-fourth;
  background-color: var(--bg-stronger-color);
  grid-row-start: row-first;
  grid-row-end: row-third;
}

/* to make each editor independently scrollable */
.main-content.has-secondary-editor .bangle-editor-area {
  overflow-y: scroll;
  height: 100vh;
}

.main-content.has-secondary-editor .bangle-editor-container.has-tabs {
  height: calc(100vh - var(--editor-tab-height));
}

.editor-tab {
  width: 100%;
  background-color: var(--bg-stronger-color);
  height: var(--editor-tab-height);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 var(--editor-x-axis-padding);
  position: sticky;
  top: 0;
  z-index: 100;
}

.left-sidebar-area {
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.left-sidebar-area.widescreen {
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  background-color: var(--bg-stronger-color);
  min-width: var(--left-sidebar-area-width);
  max-width: var(--left-sidebar-area-width);
}

/* TODO move sidebar-row styles out of this and fix the name from SideBar to Sidebar*/
.side-bar-row {
  background-color: var(--bg-stronger-color);
}

.side-bar-row:hover {
  background-color: var(--accent-color);
}

.side-bar-row.active {
  background-color: var(--accent-2-color);
}

.side-bar-row.sticky {
  border: 0;
  border-top: 2px solid var(--border-color);
}

.side-bar-row.sticky.collapsed {
  border: 2px solid var(--border-color);
}
