@keyframes app-entry_onboarding-modal-animation {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.app-entry_onboarding-modal-logo {
  animation-name: app-entry_onboarding-modal-animation;
}
