#activity-bar-area button:active {
  background-color: var(--accent-color);
  border-radius: 4px;
}

/* The position of the menu when not hidden (and default) */
/* the .up and .down are added in small screens */
#activity-bar-area.up {
  /* How long to get back up */
  transition-timing-function: ease-in;
  transition: transform 0.25s;
  transform: translate(0, 0);
  will-change: transform;
}

#activity-bar-area.down {
  /* How long to scroll down */
  transition-timing-function: ease-in;
  transition: transform 0.6s;
  transform: translate(0, -6rem);
  will-change: transform;
}
