.B-search-notes_search-notes
  .B-search-notes_search-result-note-match:not(:nth-of-type(1)) {
  margin-top: 0.75rem;
}

.B-search-notes_search-notes .B-search-notes_highlight-text:nth-of-type(2n) {
  background-color: var(--BV-miscSearchHighlightBg);
}

.B-search-notes_bangle-search-match {
  background-color: var(--BV-miscSearchHighlightBg);
}

.B-search-notes_search-notes
  .B-search-notes_search-result-note-match.BU_active {
  background-color: var(--BV-colorPromoteSolid);
}

.B-search-notes_search-notes
  .B-search-notes_search-result-text-match.B-search-notes_previously-clicked {
  background-color: var(--BV-colorNeutralSolidFaint);
}
