.search-notes .search-result-note-match:not(:nth-of-type(1)) {
  margin-top: 0.75rem;
}

.search-notes .highlight-text:nth-of-type(2n) {
  background-color: var(--window-highlight-bgColor);
}

.bangle-search-match {
  background-color: var(--window-highlight-bgColor);
}

.search-notes .search-result-note-match.active {
  background-color: var(--window-accent-primary-0);
}
