.magic-palette-item .right-icons {
  display: inline-block;
}

.magic-palette-item:hover .right-icons {
  display: none;
}

.magic-palette-item .right-hover-icons {
  display: none;
}

.magic-palette-item:hover .right-hover-icons {
  display: inline-block;
}
