:root {
  --BV-app-layout-borderWidth: var(--BV-borderWidthDEFAULT);
  /* we use twice the border size to improve dragging */
  /* NOTE: if you are going to change the factor, update it at other places too */
  --BV-app-totalBorderWidth: calc(2 * var(--BV-app-layout-borderWidth));
  --BV-app-activitybarWidth: var(--BV-miscActivitybarWidth);
  --BV-app-leftAsideWidth: var(--BV-miscLeftAsideWidth);
  --BV-app-rightAsideWidth: var(--BV-miscRightAsideWidth);
}

.BU_widescreen .B-app-main-content {
  width: 100vw;
}

.BU_show-left-aside .B-app-main-content {
  width: calc(
    100vw - var(--BV-app-leftAsideWidth) - var(--BV-app-totalBorderWidth)
  );
}

.BU_show-right-aside .B-app-main-content {
  width: calc(
    100vw - var(--BV-app-rightAsideWidth) - var(--BV-app-totalBorderWidth)
  );
}

.BU_show-activitybar .B-app-main-content {
  width: calc(100vw - var(--BV-app-activitybarWidth));
}

.BU_show-left-aside.BU_show-right-aside .B-app-main-content {
  width: calc(
    100vw - var(--BV-app-leftAsideWidth) - var(--BV-app-rightAsideWidth) -
      var(--BV-app-totalBorderWidth) - var(--BV-app-totalBorderWidth)
  );
}

.BU_show-activitybar.BU_show-left-aside .B-app-main-content {
  width: calc(
    100vw - var(--BV-app-activitybarWidth) - var(--BV-app-leftAsideWidth) -
      var(--BV-app-totalBorderWidth)
  );
}

.BU_show-activitybar.BU_show-right-aside .B-app-main-content {
  width: calc(
    100vw - var(--BV-app-activitybarWidth) - var(--BV-app-rightAsideWidth) -
      var(--BV-app-totalBorderWidth)
  );
}

.BU_show-activitybar.BU_show-left-aside.BU_show-right-aside
  .B-app-main-content {
  width: calc(
    100vw - var(--BV-app-activitybarWidth) - var(--BV-app-leftAsideWidth) -
      var(--BV-app-rightAsideWidth) - var(--BV-app-totalBorderWidth) -
      var(--BV-app-totalBorderWidth)
  );
}
