/* This is meant to be copied and implemented by the library consumer */

:root {
  --mp-alignment-spacing: 0.5rem;
  --mp-bg-color: #f5f5f5;
  --mp-item-active-bg-color: rgb(136, 223, 250);
  --mp-item-hover-bg-color: rgb(232, 232, 232);
  --mp-item-disabled-bg-color: rgb(232, 232, 232);
  --mp-item-divider-color: black;
  --mp-item-divider-width: 1px;
  --mp-item-disabled-bg-text-color: rgb(161, 161, 161);
}

.magic-palette-container {
  background-color: var(--mp-bg-color);
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  width: 100%;
  max-height: min(75vh, 400px);
  display: flex;
  flex-direction: column;
  padding-bottom: 0.25rem;
  z-index: 300;
  position: fixed;
  left: 0;
  right: 0;
  box-shadow: var(0 0 #0000, 0 0 #0000), var(0 0 #0000, 0 0 #0000),
    0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.magic-palette-input-wrapper {
  padding: var(--mp-alignment-spacing);
  border: 1px solid lightgray;
}

.magic-palette-input {
  background-color: white;
  min-height: 28px;
  padding: 0 var(--mp-alignment-spacing);
}

.magic-palette-input-wrapper .left-icon {
  margin-right: var(--mp-alignment-spacing);
  margin-left: var(--mp-alignment-spacing);
}

/* palette-items-container */

/* single line item */
.magic-palette-item {
  padding: 0 calc(2 * var(--mp-alignment-spacing));
}

.magic-palette-item.show-divider-above {
  border-top: var(--mp-item-divider-width) solid var(--mp-item-divider-color);
}

.magic-palette-item:hover {
  background-color: var(--mp-item-hover-bg-color);
}

.magic-palette-item.active {
  background-color: var(--mp-item-active-bg-color);
}

.magic-palette-item.disabled {
  color: var(--mp-item-disabled-bg-text-color);
  cursor: not-allowed;
}

.magic-palette-item.disabled.active {
  background-color: var(--mp-item-disabled-bg-color);
}

.magic-palette-item.disabled:hover {
  background-color: var(--mp-item-disabled-bg-color);
}

.magic-palette-item .left-icon {
  margin-right: var(--mp-alignment-spacing);
}

.magic-palette-item .mp-extra-info {
  color: var(--mp-item-disabled-bg-text-color);
  margin-left: var(--mp-alignment-spacing);
}
