.B-note-tags_inline-note-tag {
  background-color: var(--BV-misc-noteTagsBg);
  border-radius: 4rem;
  padding: 0.125rem 0.5rem;
  margin: 0 0.125rem;
  color: var(--BV-misc-noteTagsText);
  cursor: pointer;
}
