.note-sidebar_widget-titlebar {
}

.note-sidebar_widget-content {
  background-color: var(--window-bgColor-1);
  max-height: 400px;
  min-height: 30px;
  border: 1px solid var(--window-borderColor-1);
}

.note-sidebar {
  color: var(--textColor-1);
}
