<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <%- favicon %>
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#ffffff"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#000000"
    />
    <meta
      name="viewport"
      content="width=device-width,minimum-scale=1,user-scalable=no"
    />
    <%- sentry %>
    <!--  -->
    <link rel="stylesheet" href="/core-theme.css" />
    <title>Bangle App</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <!-- Keep these in sync with preview-body.html in storybook -->
    <div id="tooltip-container" class="z-tooltip isolate fixed z-tooltip"></div>
    <div
      id="dialog-container"
      class="fixed z-modal isolate"
      style="background: transparent"
    ></div>
    <%- viteJsEntry %>
    <!--  -->
    <%- fathom %>
  </body>
</html>
