.bangle-heading-collapsed {
  background-color: var(--bg-stronger-color);
  border-radius: 8px;
}

.bangle-editor-inner-container > .bangle-editor p {
  font-size: 1rem;
}

.bangle-editor li[data-bangle-is-todo] > span:first-child > input {
  margin-top: 0.45rem;
}
