.B-activitybar_button.BU_widescreen {
  border-left: 2px solid var(--BV-activitybar-bg-color);
}

.B-activitybar_button.BU_widescreen.BU_is-active {
  border-left: 2px solid var(--BV-accent-primary-0);
}

.B-activitybar_activitybar.BU_widescreen {
  border-right: 1px solid var(--BV-window-border-color-0);
}

.B-activitybar_activitybar {
  background-color: var(--BV-activitybar-bg-color);
}

.B-activitybar_editorbar-wrapper {
  color: var(--BV-ui-bangle-button-color);
}

.B-activitybar_editorbar-ws-path {
  color: var(--BV-ui-bangle-button-color);
  justify-content: center;
  display: flex;
  align-items: center;
}

.B-activitybar_editorbar-ws-path.BU_active {
  background-color: var(--BV-base-300);
}

.B-activitybar_notification {
  container-type: inline-size;
}

@container (max-width: 14ch) {
  .B-activitybar_notification-button span {
    display: none;
  }
}
