:root {
  --activity-bar-width: 70px;
  --sidebar-content-width: 300px;

  --light-accent-color: rgb(247, 188, 99);
  --dark-accent-color: rgb(247, 188, 99);

  --light-accent-2-color: rgb(250, 221, 176);
  --dark-accent-2-color: rgb(250, 221, 176);

  --light-font-color: black;
  --dark-font-color: white;

  --light-bg-color: #fff;
  --dark-bg-color: rgb(55, 59, 64);

  --light-bg-stronger-color: #f5f5f5;
  --dark-bg-stronger-color: rgb(46, 48, 51);

  --light-border-color: rgb(232, 232, 232);
  --dark-border-color: rgb(232, 232, 232);

  --light-activity-bar-color: rgb(26, 32, 44);
  --dark-activity-bar-color: rgb(22, 27, 34);
  background-color: var(--bg-color);
}

#root {
  color: var(--font-color);
  /* background-color: pink; */
  display: flex;
  flex-flow: row nowrap;
}

.activity-bar {
  min-height: 100vh;
  min-width: var(--activity-bar-width);
  z-index: 200;
  background-color: var(--activity-bar-color);
}

/** this position fixed exists so that we can keep activity bar fixed
   while still benefiting from flex.
*/
.activity-bar > div {
  position: fixed;
  padding-top: 0.5rem;
  box-sizing: border-box;
  top: 0;
  left: 0;
  z-index: 100;
  width: var(--activity-bar-width);
}

.main-content {
  display: flex;
  width: 100%;
  justify-content: center;
}

.bangle-editor-wrapper {
  max-width: 700px;
  flex-grow: 1;
}

.sidebar-content {
  position: fixed;
  min-height: 100vh;
  max-height: 100vh;
  left: var(--activity-bar-width);
  top: 0;
  z-index: 100;
  width: var(--sidebar-content-width);
  background-color: var(--bg-stronger-color);
}

/* 
@media screen and (max-width: 640px) {
  .main-wrapper {
    display: grid;
    grid-template-rows: 40px auto;
  }
  .editor-wrapper {
    grid-row: 2/4;
    grid-column: 1/2;
  }
  .grid-activity-bar {
    grid-row: 1 / 2;
    flex-direction: row;
    justify-content: space-around;
  }
  .grid-side-bar {
    grid-row: 2/4;
    grid-column: 1/3;
  }
}

@media screen and (min-width: 641px) {
  .main-wrapper {
    display: grid;
    grid-template-rows: auto 70px;
    grid-template-columns: 60px 300px auto;
  }
  header {
    grid-row: 2;
    grid-column: 2/4;
  }
  .editor-wrapper {
    grid-row: 1/3;
    grid-column: 2 / 4;
  }
  .grid-activity-bar {
    grid-row: 1 / 3;
    grid-column: 1 / 1;
  }
  .grid-side-bar {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
}
 */
