#root {
  color: var(--font-color);
  display: flex;
  flex-direction: column;
}

#root.widescreen {
  flex-flow: row nowrap;
}

.activity-bar {
  height: var(--activity-bar-width);
  min-width: 100vw;
  max-width: 100vw;
  background-color: var(--activity-bar-color);
  z-index: 300;
  position: sticky;
  top: 0;
}

.activity-bar.widescreen {
  height: 100vh;
  min-width: var(--activity-bar-width);
  max-width: var(--activity-bar-width);
  position: static;
  padding-top: 0.5rem;
}

.activity-bar > div {
  display: flex;
  flex-direction: row;
}

.activity-bar.widescreen > div {
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.main-content.widescreen {
  height: 100vh;
  overflow-y: scroll;
}

.bangle-editor-area {
  max-width: min(700px, 100vw);
  flex-grow: 1;
}

.bangle-editor-container {
  padding: 0 var(--editor-x-axis-padding);
  padding-top: var(--editor-top-padding);
}

.main-content.has-secondary-editor {
  display: grid;
  grid-template-columns: 1fr var(--gutter-width) 1fr;
}

.main-content.has-secondary-editor > .grid-gutter {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: var(--border-color);
}

.main-content.has-secondary-editor > .bangle-editor-area:first-child {
  grid-column-start: 1;
  grid-column-end: 2;
}

.main-content.has-secondary-editor > .bangle-editor-area:nth-child(2) {
  grid-column-start: 3;
  grid-column-end: 4;
}

/* to make each editor independently scrollable */
.main-content.has-secondary-editor .bangle-editor-container {
  overflow-y: scroll;
  height: calc(100vh - var(--editor-tab-height));
}

.editor-tab {
  width: 100%;
  background-color: var(--bg-stronger-color);
  height: var(--editor-tab-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--editor-x-axis-padding);
  border-bottom: 2px solid var(--border-color);
}

.left-sidebar-area {
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.left-sidebar-area.widescreen {
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  background-color: var(--bg-stronger-color);
  min-width: var(--left-sidebar-area-width);
  max-width: var(--left-sidebar-area-width);
  border-right: 2px solid var(--border-color);
}

.side-bar-row {
  background-color: var(--bg-stronger-color);
}

.side-bar-row:hover {
  background-color: var(--accent-color);
}

.side-bar-row.active {
  background-color: var(--accent-2-color);
}

.side-bar-row.sticky {
  border: 0;
  border-top: 2px solid var(--border-color);
}

.side-bar-row.sticky.collapsed {
  border: 2px solid var(--border-color);
}
