:root {
  --light-accent-color: rgb(247, 188, 99);
  --light-accent-2-color: rgb(250, 221, 176);
  --light-font-color: black;
  --light-bg-color: #fff;
  --light-bg-stronger-color: #f5f5f5;
  --light-border-color: rgb(232, 232, 232);

  --dark-accent-color: rgb(247, 188, 99);
  --dark-accent-2-color: rgb(250, 221, 176);
  --dark-font-color: white;
  --dark-bg-color: rgb(55, 59, 64);
  --dark-bg-stronger-color: rgb(46, 48, 51);
  --dark-border-color: rgb(232, 232, 232);
}

#root {
  color: var(--font-color);
}

.editor-wrapper {
  /** Keeping element relative allows for hiding of absolutely position children*/
  position: relative;
  overflow: hidden;
  background-color: var(--bg-color);
}

@media screen and (max-width: 640px) {
  .main-wrapper {
    display: grid;
    grid-template-rows: 90px auto;
  }
  .editor-wrapper {
    grid-row: 2/4;
    grid-column: 1/2;
  }
  .grid-activity-bar {
    grid-row: 1 / 2;
  }
  .grid-side-bar {
    grid-row: 2/4;
    grid-column: 1/3;
  }
}

@media screen and (min-width: 641px) {
  .main-wrapper {
    display: grid;
    grid-template-rows: auto 70px;
    grid-template-columns: 60px 300px auto;
  }
  header {
    grid-row: 2;
    grid-column: 2/4;
  }
  .editor-wrapper {
    grid-row: 1/3;
    grid-column: 2 / 4;
  }
  .grid-activity-bar {
    grid-row: 1 / 3;
    grid-column: 1 / 1;
  }
  .grid-side-bar {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
}

.grid-side-bar {
  background-color: var(--bg-stronger-color);
}

.bg-stronger-color {
  background-color: var(--bg-stronger-color);
}

div:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.bg-stronger {
  background-color: var(--bg-stronger-color);
}
