body {
  color: var(--textColor-0);
}
body.widescreen {
  /* this prevents the spring bounciness which moves the entire app
   when on mac laptops */
  overflow: hidden;
  overscroll-behavior: none;
}
