.b-text-color {
  color: var(--textColor-0);
}

.b-textColor-lighter {
  color: var(--textColor-1);
}

.hover\:b-accent-secondary:hover {
  background-color: var(--accent-secondary);
}

.b-bg-stronger-color {
  background-color: var(--window-bgColor-1);
}

.b-border-color {
  border-color: var(--border-color);
}

.b-modal-overlay-color {
  background-color: var(--modal-overlay-color);
}

.b-border-color {
  border-color: var(--border-color);
}
.b-border-bottom-color {
  border-bottom-color: var(--border-color);
}
