/* stylelint-disable-next-line selector-class-pattern */
.B-core-editor_display-page > .bangle-editor {
  font-size: 1rem;
}

/* stylelint-disable-next-line selector-class-pattern */
.B-core-editor_display-popup > .bangle-editor {
  font-size: 0.84rem;
}

/* Overrides */

/* stylelint-disable-next-line selector-class-pattern */
.bangle-editor p {
  font-size: 1em !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.bangle-editor h1 {
  font-size: 3em !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.bangle-editor h2 {
  font-size: 1.875em !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.bangle-editor h3 {
  font-size: 1.25em !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.bangle-editor h4 {
  font-size: 1.125em !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.bangle-editor h5 {
  font-size: 1em !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.bangle-editor h6 {
  font-size: 0.75em !important;
}
