/* collapse styles */
.B-core-editor_deco-collapse-positioner {
  position: relative;
}

.B-core-editor_deco-collapse {
  display: flex;
  position: absolute;
  left: -1.5rem;
}

h1 .B-core-editor_deco-collapse {
  top: calc((3rem / 2) - 10px);
}

h2 .B-core-editor_deco-collapse {
  top: calc((1.875rem / 2) - 10px);
}

h3 .B-core-editor_deco-collapse {
  top: calc((1.25rem / 2) - 10px);
}

h4 .B-core-editor_deco-collapse {
  top: calc((1.125rem / 2) - 10px);
}

h5 .B-core-editor_deco-collapse {
  top: calc((0.75rem / 2) - 10px);
}

.B-core-editor_deco-collapse-child {
  height: 1.25rem;
  width: 1.25rem;
  fill: currentcolor;
  align-self: center;
  cursor: pointer;
}

/* collapse styles end */

.B-core-editor_selected-node {
  animation-duration: 0.8s;
  animation-name: B-core-editor_editor-selected-node;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes B-core-editor_editor-selected-node {
  from {
    border-radius: 2px;
    background-color: var(--BV-miscEditorAttentionBg);
  }

  to {
    background-color: unset;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.bangle-editor a {
  color: var(--BV-miscLinkText);
  text-decoration: underline;
}

/* stylelint-disable-next-line selector-class-pattern */
.bangle-editor li {
  margin-bottom: 0.25rem;
}

/* for the inline code */
/* stylelint-disable-next-line selector-class-pattern */
.bangle-editor p > code {
  background-color: var(--BV-miscEditorCodeBg);
  color: var(--BV-colorNeutralTextSubdued);
}

/* stylelint-disable-next-line selector-class-pattern */
.bangle-editor pre > code {
  color: var(--BV-colorNeutralTextSubdued);
}

/* stylelint-disable-next-line selector-class-pattern */
.bangle-editor pre {
  background-color: var(--BV-miscEditorCodeBg);
}

/* stylelint-disable-next-line selector-class-pattern */
.bangle-editor blockquote {
  background-color: var(--BV-miscEditorCodeBg);
  color: var(--BV-colorNeutralTextSubdued);
}

/* stylelint-disable-next-line selector-class-pattern */
.bangle-editor li[data-bangle-is-todo] > span:first-child > input {
  margin-top: 0.45rem;
}

/* stylelint-disable-next-line selector-class-pattern */
.bangle-editor .ProseMirror-selectednode {
  outline: 2px solid var(--BV-colorPromoteBorder);
  border-radius: var(--BV-borderRadiusMd);
}
