.bangle-heading-collapsed {
  background-color: var(--window-bgColor-2);
  border-radius: 8px;
}

.bangle-editor li[data-bangle-is-todo] > span:first-child > input {
  margin-top: 0.45rem;
}

.bangle-editor .selected-node {
  animation-duration: 0.75s;
  animation-name: editorSelectedNode;
  animation-timing-function: ease-out;
}

@keyframes editorSelectedNode {
  from {
    border-radius: 4px;
    background-color: var(--editorCore-selectionChange-bgColor);
  }

  to {
  }
}

.bangle-editor a {
  color: var(--window-link-color);
  text-decoration: underline;
}

.bangle-editor li {
  margin-bottom: 0.25rem;
}

.bangle-editor p > code {
  background-color: var(--base-300);
  color: var(--textColor-1);
}
.bangle-editor pre {
  background-color: var(--base-300);
}

.bangle-editor blockquote {
  background-color: var(--base-300);
  color: var(--textColor-1);
}

.bangle-editor li[data-bangle-is-todo] > span:first-child > input {
  margin-top: 0.45rem;
}

.bangle-editor .ProseMirror-selectednode {
  outline: 2px solid var(--window-link-color);
  border-radius: var(--window-pill-borderRadius);
}

.bangle-tooltip {
  z-index: var(--window-tooltip-zIndex);
}

/* collapse styles */
.deco-collapse-positioner {
  position: relative;
}

.deco-collapse {
  display: flex;
  position: absolute;
  left: -1.5rem;
}

h1 .deco-collapse {
  top: calc((3rem / 2) - 10px);
}

h2 .deco-collapse {
  top: calc((1.875rem / 2) - 10px);
}

h3 .deco-collapse {
  top: calc((1.25rem / 2) - 10px);
}

h4 .deco-collapse {
  top: calc((1.125rem / 2) - 10px);
}

h5 .deco-collapse {
  top: calc((0.75rem / 2) - 10px);
}

.deco-collapse-child {
  height: 1.25rem;
  width: 1.25rem;
  fill: currentcolor;
  align-self: center;
  cursor: pointer;
}

/* collapse styles end*/
