.bangle-palette {
  position: absolute;
  background-color: var(--bg-stronger-color);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  max-height: min(80vh, 600px);
}

.bangle-palette input {
  background-color: var(--bg-color);
}

.bangle-palette .palette-input-wrapper {
  border-bottom: 2px solid var(--border-color);
}

@media screen and (max-width: 640px) {
  .bangle-palette {
    width: 100vw;
    top: 40px;
  }
}
