.bangle-palette {
  background-color: var(--bg-stronger-color);
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  width: 100%;
  max-height: min(80vh, 600px);
  display: flex;
  flex-direction: column;
  padding-bottom: 0.25rem;
  border-width: 1px;
  z-index: 300;
  /* margin-top: var(--activity-bar-width); */
}

.bangle-palette.widescreen {
  margin-top: unset;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}

.bangle-palette input {
  background-color: var(--bg-color);
}

.bangle-palette .palette-input-wrapper {
  border-bottom: 2px solid var(--border-color);
}

@media screen and (max-width: 640px) {
  .bangle-palette {
    width: 100vw;
    top: 40px;
  }
}
