.inline-command-palette.item-row {
  background-color: var(--bg-stronger-color);
  padding: 0.25rem 0;
}

.inline-command-palette.item-row.disabled {
  background-color: var(--accent-2-color);
}

.inline-command-palette.item-row.active.disabled {
  background-color: var(--accent-2-color);
}

.inline-command-palette.item-row.hover-allowed:hover {
  background-color: var(--accent-2-color);
}

.inline-command-palette.item-row.active {
  background-color: var(--accent-color) !important;
}
