html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --BV-ui-bangle-button-depression: 0.96;
  --BV-ui-bangle-button-radius: 0.25rem;
}

/* light theme */
:root {
  --BV-base-50: #ffffff;
  --BV-base-75: #fafafa;
  --BV-base-100: #f5f5f5;
  --BV-base-150: #f0f0f0;
  --BV-base-200: #eaeaea;
  --BV-base-300: #e1e1e1;
  --BV-base-400: #cacaca;
  --BV-base-500: #b3b3b3;
  --BV-base-600: #8e8e8e;
  --BV-base-700: #6e6e6e;
  --BV-base-800: #4b4b4b;
  --BV-base-900: #2c2c2c;

  --BV-accent-primary-0: rgb(88, 204, 240); /* done */
  --BV-accent-primary-1: rgb(136, 223, 250); /* done */

  --BV-accent-destructive-0: rgb(198, 69, 69); /* done */
  --BV-accent-destructive-1: rgb(197, 74, 74); /* done */

  --BV-ui-bangle-button-active-color: var(--BV-base-900);
  --BV-ui-bangle-button-bg-color: var(--BV-base-300);
  --BV-ui-bangle-button-color: var(--BV-base-800);
  --BV-ui-bangle-button-disabled-bg-color: var(--BV-base-100);
  --BV-ui-bangle-button-disabled-color: var(--BV-base-700);
  --BV-ui-bangle-button-hover-bg-color: var(--BV-base-400);
  --BV-ui-bangle-button-hover-color: var(--BV-base-900);
  --BV-ui-bangle-button-pressed-bg-color: var(--BV-base-400);
  --BV-ui-bangle-button-primary-active-color: var(--BV-base-900);
  --BV-ui-bangle-button-primary-bg-color: var(--BV-accent-primary-0);
  --BV-ui-bangle-button-primary-color: var(--BV-base-800);
  --BV-ui-bangle-button-primary-hover-bg-color: var(--BV-accent-primary-1);
  --BV-ui-bangle-button-primary-hover-color: var(--BV-base-900);
  --BV-ui-bangle-button-primary-pressed-bg-color: var(--BV-base-400);
  --BV-ui-bangle-button-destructive-active-color: var(--BV-base-900);
  --BV-ui-bangle-button-destructive-bg-color: var(--BV-accent-destructive-0);
  --BV-ui-bangle-button-destructive-color: var(--BV-base-200);
  --BV-ui-bangle-button-destructive-hover-bg-color: var(
    --BV-accent-destructive-1
  );
  --BV-ui-bangle-button-destructive-hover-color: var(--BV-base-200);
  --BV-ui-bangle-button-destructive-pressed-bg-color: var(--BV-base-400);
}

.dark-scheme {
  --BV-base-50: #080808;
  --BV-base-75: #1a1a1a;
  --BV-base-100: #1e1e1e;
  --BV-base-150: #252525;
  --BV-base-200: #2c2c2c;
  --BV-base-300: #393939;
  --BV-base-400: #494949;
  --BV-base-500: #5c5c5c;
  --BV-base-600: #7c7c7c;
  --BV-base-700: #a2a2a2;
  --BV-base-800: #c8c8c8;
  --BV-base-900: #efefef;

  --BV-accent-primary-0: rgb(223, 50, 130); /* done */
  --BV-accent-primary-1: rgb(229, 92, 156); /* done */
  --BV-accent-destructive-0: rgb(219, 101, 100);
  --BV-accent-destructive-1: rgb(218, 110, 108);

  --BV-ui-bangle-button-active-color: var(--BV-base-900);
  --BV-ui-bangle-button-bg-color: var(--BV-base-200);
  --BV-ui-bangle-button-color: var(--BV-base-800);
  --BV-ui-bangle-button-disabled-bg-color: var(--BV-base-100);
  --BV-ui-bangle-button-disabled-color: var(--BV-base-700);
  --BV-ui-bangle-button-hover-bg-color: var(--BV-base-400);
  --BV-ui-bangle-button-hover-color: var(--BV-base-900);
  --BV-ui-bangle-button-pressed-bg-color: var(--BV-base-400);
  --BV-ui-bangle-button-primary-active-color: var(--BV-base-900);
  --BV-ui-bangle-button-primary-bg-color: var(--BV-accent-primary-0);
  --BV-ui-bangle-button-primary-color: var(--BV-base-800);
  --BV-ui-bangle-button-primary-hover-bg-color: var(--BV-accent-primary-1);

  --BV-ui-bangle-button-primary-hover-color: var(--BV-base-900);
  --BV-ui-bangle-button-primary-pressed-bg-color: var(--BV-base-400);
  --BV-ui-bangle-button-destructive-active-color: var(--BV-base-900);
  --BV-ui-bangle-button-destructive-bg-color: var(--BV-accent-destructive-0);
  --BV-ui-bangle-button-destructive-color: var(--BV-base-200);
  --BV-ui-bangle-button-destructive-hover-bg-color: var(
    --BV-accent-destructive-1
  );
  --BV-ui-bangle-button-destructive-hover-color: var(--BV-base-200);
  --BV-ui-bangle-button-destructive-pressed-bg-color: var(--BV-base-400);
}
