@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --BV-miscActivitybarWidth: 48px;
    --BV-miscMiniEditorWidth: 400px;
    --BV-miscPageMaxWidth: 700px;
    --BV-miscPagePadding: 3rem 30px 3rem 30px;
    --BV-miscLeftAsideWidth: 300px;
    --BV-miscRightAsideWidth: 300px;
    --BV-miscTitlebarHeight: 48px;
    --BV-borderWidthDEFAULT: 1px;
    --BV-radius: 0.5rem;
  }

  .BU_light-scheme {
    /* COLORS */

    /* Theme spectrum light https://spectrum.adobe.com/page/color-palette/ */
    /* gray */
    --BV-gray50: 255 255 255;
    --BV-gray75: 253 253 253;
    --BV-gray100: 248 248 248;
    --BV-gray200: 230 230 230;
    --BV-gray300: 213 213 213;
    --BV-gray400: 177 177 177;
    --BV-gray500: 144 144 144;
    --BV-gray600: 109 109 109;
    --BV-gray700: 70 70 70;
    --BV-gray800: 34 34 34;
    --BV-gray900: 0 0 0;

    /* accent */
    --BV-accent50: 237 252 254;
    --BV-accent100: 209 246 252;
    --BV-accent200: 168 236 249;
    --BV-accent300: 108 220 244;
    --BV-accent400: 51 197 232;
    --BV-accent500: 13 165 205;
    --BV-accent600: 14 131 172;
    --BV-accent700: 19 106 139;
    --BV-accent800: 24 87 114;
    --BV-accent900: 25 73 96;
    --BV-accent950: 10 47 66;
  }

  .BU_dark-scheme {
    /* Colors */

    /* Theme spectrum darkest https://spectrum.adobe.com/page/color-palette/ */
    --BV-gray50: 0 0 0;
    --BV-gray75: 14 14 14;
    --BV-gray100: 29 29 29;
    --BV-gray200: 48 48 48;
    --BV-gray300: 75 75 75;
    --BV-gray400: 106 106 106;
    --BV-gray500: 141 141 141;
    --BV-gray600: 176 176 176;
    --BV-gray700: 208 208 208;
    --BV-gray800: 235 235 235;
    --BV-gray900: 255 255 255;

    /* accent */
    --BV-accent50: 255 240 249;
    --BV-accent100: 255 226 246;
    --BV-accent200: 255 197 238;
    --BV-accent300: 255 150 223;
    --BV-accent400: 255 85 197;
    --BV-accent500: 255 35 171;
    --BV-accent600: 255 0 136;
    --BV-accent700: 227 0 106;
    --BV-accent800: 187 0 86;
    --BV-accent900: 161 0 78;
    --BV-accent950: 96 0 41;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .BU_light-scheme.BU_smallscreen {
    --BV-miscPagePadding: 1.5rem 10px 2rem 25px;
  }

  .BU_dark-scheme.BU_smallscreen {
    --BV-miscPagePadding: 1.5rem 10px 2rem 25px;
  }

  :root {
    --BV-background: var(--BV-gray50);
    --BV-foreground: var(--BV-gray800);

    --BV-card: var(--BV-gray50);
    --BV-card-foreground: var(--BV-gray800);

    --BV-popover: var(--BV-gray50);
    --BV-popover-foreground: var(--BV-gray800);

    --BV-primary: var(--BV-gray700);
    --BV-primary-foreground: var(--BV-gray50);

    --BV-secondary: var(--BV-gray400);
    --BV-secondary-foreground: var(--BV-gray700);

    --BV-muted: var(--BV-gray300);
    --BV-muted-foreground: var(--BV-gray700);

    --BV-accent: var(--BV-accent600);
    --BV-accent-foreground: var(--BV-gray800);

    --BV-destructive: 234 56 41;
    --BV-destructive-foreground: var(--BV-gray50);

    --BV-border: var(--BV-gray300);
    --BV-input: var(--BV-gray300);
    --BV-ring: var(--BV-gray800);
  }

  .BU_dark-scheme {
  }
}
