# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test-kind: [unit-tests, integration-tests]
    steps:
      - uses: actions/checkout@v2
      - name: Run test "${{ matrix.test-kind }}"
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - run: yarn install --immutable --immutable-cache
      - run: yarn ${{ matrix.test-kind }}
  build-bangle-play:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - run: yarn install --immutable --immutable-cache
      - run: yarn workspace bangle-play build
      - run: yarn build

